@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: oklch(0.967 0.003 0);
  --foreground: oklch(0.289 0.004 0);
  --card: oklch(0.937 0.002 0);
  --card-foreground: oklch(0.387 0.004 0);
  --popover: oklch(0.967 0.003 0);
  --popover-foreground: oklch(0.289 0.003 0);
  --primary: oklch(0.625 0.261 27.233);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.912 0.012 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.937 0.012 322);
  --muted-foreground: oklch(0.481 0.004 0);
  --accent: oklch(0.912 0.012 322);
  --accent-foreground: oklch(0.387 0.004 0);
  --destructive: oklch(0.625 0.277 27.233);
  --destructive-foreground: oklch(0.937 0.004 0);
  --border: oklch(0.837 0.012 0);
  --input: oklch(0.537 0.012 0);
  --ring: oklch(0.625 0.261 27.233);
  --radius: 0.5rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.869 0.022 252.894);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-pagination-bullet {
  @apply !bg-white/50;
  @apply !w-2 !h-2;
}

.swiper-pagination-bullet-active {
  @apply !bg-white;
}

/* Swiper custom styles */
.swiper-button-next,
.swiper-button-prev {
  @apply !text-primary-foreground !bg-primary/80 !rounded-full !w-8 !h-8;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply !text-sm;
}

.swiper-pagination-bullet {
  @apply !bg-primary/80;
}

.swiper-pagination-bullet-active {
  @apply !bg-primary;
}

